@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');

body {
    margin: 0;
    /* background: #333; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

#home .container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #546a74;
    border: 3px solid #333;

}

header::after{
    content: "";
    display: table;
    clear: both;
}

nav {
    float: right;
}



nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;

    padding: 15px 0;

    position: relative;

}

nav a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

nav a:hover {
    color: rgb(163, 163, 163);
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top:0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}